.App {
  text-align: left;
  font-family: SourceSansPro, sans-serif;
  background-image: url("./styles/christmas-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-header {
  height: 75px;
  padding: 20px;
  color: #0089df;
  font-weight: bold;
  margin: 20px 150px;
  font-size: 3em;
}

.App-intro {
  font-size: large;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('./styles/fonts/SourceSansPro-Bold.otf');
}